# env files
.env

# csv files
*.csv
geo_json.csv
Manhattan_Bus_data.csv
MTA_Bus_Route_Segment_Speeds__Beginning_2025_20251028.csv

# Geojson files
geo_data_converted.geojson
*.geojson

# html files
*.html

# Backup files
Backup*